.homepage {
  padding: 20px 0;
}
.top {
  padding: 20px 20px 0;
  border-bottom: #ddd solid 1px;
}
.top p {
  line-height: 28px;
  margin-top: 10px;
}
.mid {
  padding: 20px 20px 0;
}
.panel {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 15px 0 15px -15px #000, -15px 0 15px -15px #000;
}
